<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Example</title>
</head>
<body>

    <h1>Welcome to My Image Page</h1>
    <p>This is an example of how to display an image in HTML:</p>
    
    <!-- Add your image here -->
    <img src="logo.png" alt="Example Image" width="128" height="128">

    <p>Image shown above.</p>

</body>
</html>
